@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Open+Sans:wght@300;400;600&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  @apply bg-brand-light text-brand-dark font-sans bg-pattern bg-fixed; /* <-- Agrega bg-pattern y bg-fixed */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

/* -------------------- */
/* Optimización Móvil   */
/* -------------------- */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* Quita el flash azul al tocar botones en Android */
}

/* Scrollbar Estética Glass */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(75, 44, 57, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(159, 28, 195, 0.6);
}

/* Móviles: experiencia tipo App Native */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
